graft etc
graft src
graft tests

include *.LICENSE
include NOTICE
include *.ABOUT
include *.toml
include *.yml
include *.rst
include setup.*
include configure*
include requirements*
include .git*
include MANIFEST.in
include setup.cfg
include setup.py


global-exclude *.py[co] __pycache__ *.*~

