
**/*.egg-info
**/.*
**/.*cache
**/.DS_Store
**/.aof
**/.aws
**/.git
**/.github
**/.gitignore
**/.idea
**/.ssh
**/.venv
**/.vscode
**/bin
**/build
**/coverage
**/dist
**/docs
**/env
**/etc
**/lib
**/var
**/venv
.dockerignore
.env
.readthedocs.yaml
CHANGELOG.rst
CODE_OF_CONDUCT.rst
Dockerfile
MANIFEST.in
Makefile
README.rst
azure-pipelines.yml
configure
docker*.env
docker-compose.*yml
pyvenv.cfg
traefik.yml
