include:
  - docker-compose.common.yml

services:
  nginx:
    image: nginx
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.rule=
        Host(`127.0.0.1`)
        || Host(`localhost`)
        || Host(`192.168.1.12`)"
      - "traefik.http.routers.web.entrypoints=web"
    volumes:
      - ./etc/nginx/conf.d/:/etc/nginx/conf.d/
      - /var/www/html:/var/www/html
      - static:/var/purldb/static/
    depends_on:
      - web
    restart: always

  traefik:
    image: "traefik:v3.6.8"
    container_name: "traefik"
    hostname: "traefik"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.yml:/traefik.yml:ro"

networks:
  default:
    name: purldb
    external: true
