[build-system]
requires = [ "flot>=0.7.0" ]
build-backend = "flot.buildapi"

[project]
name = "minecode_pipelines"
version = "0.0.1b14"
description = "A library for mining packageURLs and package metadata from ecosystem repositories."
readme = "minecode_pipelines/README.rst"
license = { text = "Apache-2.0" }
requires-python = ">=3.10"

authors = [
    { name = "AboutCode, nexB Inc. and others", email = "info@aboutcode.org" },
]

keywords = [
    "purl",
    "Package-URL",
    "open source",
    "package",
    "sca",
    "scan",
    "index",
    "federated",
    "data",
]


classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Software Development",
    "Topic :: Utilities",
]

dependencies = [
    "aboutcode.hashid >= 0.2.0",
    "packageurl_python >= 0.15.6",
    "scancodeio >= 35.3.0",
    "ftputil >= 5.1.0",
    "jawa >= 2.2.0",
    "arrow >= 1.3.0"
]

urls = { Homepage = "https://github.com/aboutcode-org/purldb" }

[project.entry-points."scancodeio_pipelines"]
mine_pypi = "minecode_pipelines.pipelines.mine_pypi:MinePypi"
mine_maven = "minecode_pipelines.pipelines.mine_maven:MineMaven"
mine_cargo = "minecode_pipelines.pipelines.mine_cargo:MineCargo"
mine_debian = "minecode_pipelines.pipelines.mine_debian:MineDebian"
mine_alpine = "minecode_pipelines.pipelines.mine_alpine:MineAlpine"
mine_conan = "minecode_pipelines.pipelines.mine_conan:MineConan"

[tool.bumpversion]
current_version = "0.0.1b14"
allow_dirty = true

files = [
    { filename = "pyproject-minecode_pipelines.toml" },
]

[tool.flot]
includes = [
    "minecode_pipelines/**/*",
]

excludes = [
    # Python compiled files
    "**/*.py[cod]",
    "**/*.egg-info",
    # Various junk and temp files
    "**/.DS_Store",
    "**/*~",
    "**/.*.sw[po]",
    "**/.ve",
    "**/*.bak",
    "**/.ipynb_checkpoints/*",
    "minecode_pipelines/tests/**/*",
    "minecode_pipelines/notebooks/*",
]

metadata_files = ["apache-2.0.LICENSE", "NOTICE"]
editable_paths = ["minecode_pipelines"]

