[build-system]
requires = [ "flot>=0.7.0" ]
build-backend = "flot.buildapi"

[project]
name = "minecode_pipeline"
version = "0.0.1"
description = "A library for mining packageURLs and package metadata from ecosystem repositories."
readme = "minecode_pipeline/README.rst"
license = { text = "Apache-2.0" }
requires-python = ">=3.10"

authors = [
    { name = "AboutCode, nexB Inc. and others", email = "info@aboutcode.org" },
]

keywords = [
    "purl",
    "Package-URL",
    "open source",
    "package",
    "sca",
    "scan",
    "index",
    "federated",
    "data",
]


classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Software Development",
    "Topic :: Utilities",
]

dependencies = [
    "aboutcode.hashid >= 0.2.0",
    "packageurl_python >= 0.15.6",
    "scancodeio >= 35.3.0",
]

urls = { Homepage = "https://github.com/aboutcode-org/purldb" }

[project.entry-points."scancodeio_pipelines"]
mine_pypi = "minecode_pipeline.pipelines.mine_pypi:MineandPublishPypiPURLs"

[tool.bumpversion]
current_version = "0.1.0"
allow_dirty = true

files = [
    { filename = "pyproject-minecode_pipeline.toml" },
]

[tool.flot]
includes = [
    "minecode_pipeline/**/*",
]

excludes = [
    # Python compiled files
    "**/*.py[cod]",
    "**/*.egg-info",
    # Various junk and temp files
    "**/.DS_Store",
    "**/*~",
    "**/.*.sw[po]",
    "**/.ve",
    "**/*.bak",
    "**/.ipynb_checkpoints/*",
    "minecode_pipeline/tests/**/*",
    "minecode_pipeline/notebooks/*",
]

metadata_files = ["apache-2.0.LICENSE", "NOTICE"]
editable_paths = ["minecode_pipeline"]

