aboutcode-toolkit==8.0.0
black==23.3.0
et-xmlfile==1.1.0
exceptiongroup==1.1.1
execnet==1.9.0
iniconfig==2.0.0
mock==5.0.2
mypy-extensions==1.0.0
openpyxl==3.1.2
pathspec==0.11.1
platformdirs==3.5.1
pytest==7.3.1
pytest-django==4.5.2
pytest-xdist==3.2.1
tomli==2.0.1