aboutcode-toolkit==11.1.1
aboutcode.api_auth==0.2.0
aboutcode.federated==1.0.4
aboutcode.federatedcode==0.1.0
aboutcode.hashid==0.2.0
aboutcode.pipeline==0.2.1
aiofiles==25.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
annotated-types==0.7.0
arrow==1.4.0
asgiref==3.11.1
attrs==26.1.0
banal==1.1.2
beartype==0.22.9
beautifulsoup4==4.14.3
bids-analyser==0.3.1
binary-inspector==0.2.0
binaryornot==0.6.0
bitarray==3.9.0
bleach==6.4.0
boolean.py==5.0
brotli==1.2.0
certifi==2026.6.17
cffi==2.1.0
chardet==7.4.3
charset-normalizer==3.4.7
clamd==1.0.2
click==8.4.2
colorama==0.4.6
commoncode==32.5.2
construct==2.10.70
container-inspector==33.1.0
crispy-bootstrap3==2024.1
croniter==6.2.3
crontab==1.0.5
cryptography==49.0.0
cyclonedx-python-lib==11.11.0
cyseq==0.1.3
debian_inspector==31.1.1
defusedxml==0.7.1
Django==6.0.6
django-crispy-forms==2.6
django-debug-toolbar==7.0.0
django-environ==0.14.0
django-filter==25.2
django-htmx==1.27.0
django-probes==1.8.0
django-rq==4.1.0
djangorestframework==3.17.1
dockerfile-parse==2.0.1
dparse2==0.7.0
drf-spectacular==0.30.0
elementpath==5.1.3
elf_inspector==0.0.3
et_xmlfile==2.0.0
extractcode==31.1.0
extractcode-7z==16.5.210531
extractcode-libarchive==3.5.1.210531
fasteners==0.20
fastjsonschema==2.21.2
fetchcode==0.8.2
fetchcode-container==1.2.3.210512
fingerprints==1.2.3
flot==0.7.3
freezegun==1.5.5
frozenlist==1.8.0
ftfy==6.3.1
ftputil==5.2.0
fusepy==3.0.1
gemfileparser2==0.9.4
gitdb==4.0.12
GitPython==3.1.50
go-inspector==0.5.0
gunicorn==26.0.0
html5lib==1.1
htmllistparse==0.6.1
idna==3.18
importlib_metadata==8.7.1
inflection==0.5.1
intbitset==4.1.2
jaraco.functools==4.5.0
javaproperties==0.8.2
jawa==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jsonstreams==0.6.0
lib4sbom==0.10.4
license-expression==30.4.4
lief==0.17.0
linkify-it-py==2.1.0
lxml==6.1.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matchcode-toolkit==7.2.2
mdit-py-plugins==0.6.1
mdurl==0.1.2
milksnake==0.1.6
minecode_pipelines==1.0.1
mock==5.2.0
more-itertools==11.1.0
multidict==6.7.1
multiregex==2.0.4
natsort==8.4.0
normality==2.6.1
openpyxl==3.1.5
packagedcode-msitools==0.101.210706
packageurl-python==0.17.6
packaging==26.2
packvers==21.5
parameter-expansion-patched==0.3.1
pdfminer.six==20260107
pefile==2024.8.26
pip==26.1.2
pip-requirements-parser==32.0.1
pkginfo2==30.1.0
platformdirs==4.10.0
pluggy==1.6.0
plugincode==32.0.0
ply==3.11
propcache==0.5.2
psycopg==3.3.4
psycopg-binary==3.3.4
publicsuffix2==2.20191221
py-serializable==2.1.0
pyahocorasick==2.3.1
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
pyelftools==0.33
PyGithub==2.9.1
pygmars==1.0.0
Pygments==2.20.0
pyinstrument==5.1.2
PyJWT==2.13.0
pymaven-patch==0.3.2
PyNaCl==1.6.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-inspector==0.15.2
pytz==2026.2
PyYAML==6.0.3
rdflib==7.6.0
redis==8.0.1
referencing==0.37.0
regipy==6.2.1
reppy2==0.3.6
requests==2.34.2
resolvelib==1.2.1
rich==15.0.0
rpds-py==2026.6.3
rpm-inspector-rpm==4.16.1.3.210404
rq==2.10.0
rq-scheduler==0.14.0
rubymarshal==1.0.3
rust-inspector==0.2.1
samecode==0.5.1
saneyaml==0.6.1
scancode-toolkit==32.5.0
scancodeio==38.0.0
scorecode==0.0.4
semantic-version==2.10.0
semver==3.0.4
setuptools==82.0.1
six==1.17.0
smmap==5.0.3
sortedcontainers==2.4.0
soupsieve==2.8.4
source-inspector==0.7.1
spdx-tools==0.8.2
sqlparse==0.5.5
symbolic==10.2.1
tantivy==0.26.0
text-unidecode==1.3
textual==8.2.8
toml==0.10.2
tree-sitter==0.23.2
tree-sitter-bash==0.21.0
tree-sitter-c==0.21.1
tree-sitter-c-sharp==0.23.1
tree-sitter-cpp==0.22.0
tree-sitter-go==0.21.0
tree-sitter-java==0.21.0
tree-sitter-javascript==0.21.2
tree-sitter-objc==3.0.2
tree-sitter-python==0.21.0
tree-sitter-rust==0.21.2
tree-sitter-swift==0.0.1
typecode==30.2.0
typecode-libmagic==5.39.210531
typecode_libmagic_system_provided==33.0.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
uc-micro-py==2.0.0
univers==32.0.1
uritemplate==4.2.0
uritools==6.1.2
urllib3==2.7.0
urlpy==0.5
wcwidth==0.8.2
webencodings==0.5.1
xlsxwriter==3.2.9
xmlschema==4.3.2
xmltodict==1.0.4
yarl==1.24.2
zipp==4.1.0
