aboutcode-toolkit==10.1.0
arrow==1.2.3
asgiref==3.8.1
attrs==23.2.0
banal==1.0.6
beartype==0.18.2
beautifulsoup4==4.12.3
binaryornot==0.4.4
bitarray==2.6.0
bleach==6.1.0
boolean.py==4.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
commoncode==31.0.3
construct==2.10.70
container-inspector==32.0.1
crispy-bootstrap3==2024.1
crontab==1.0.1
cryptography==42.0.5
cyclonedx-python-lib==7.3.2
debian_inspector==31.1.0
defusedxml==0.7.1
Deprecated==1.2.14
Django==5.0.4
django-crispy-forms==2.1
django-environ==0.11.2
django-filter==24.2
django-probes==1.7.0
django-rq==2.10.2
django-taggit==5.0.1
djangorestframework==3.15.1
dockerfile-parse==2.0.1
dparse2==0.7.0
drf-spectacular==0.26.5
elf-inspector==0.0.1
et-xmlfile==1.1.0
extractcode==31.0.0
extractcode-7z==16.5.210531
extractcode-libarchive==3.5.1.210531
fasteners==0.19
fetchcode==0.5.1
fetchcode-container==1.2.3.210512
fingerprints==1.2.3
flot==0.7.2
fontawesomefree==6.5.1
freezegun==1.4.0
ftfy==6.2.0
ftputil==5.0.4
fusepy==3.0.1
gemfileparser2==0.9.3
gitdb==4.0.11
GitPython==3.1.43
gunicorn==22.0.0
html5lib==1.1
htmllistparse==0.6.1
idna==3.7
importlib_metadata==7.1.0
inflection==0.5.1
intbitset==3.1.0
isodate==0.6.1
jaraco.functools==4.0.0
javaproperties==0.8.1
jawa==2.2.0
Jinja2==3.1.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jsonstreams==0.6.0
license-expression==30.3.0
lxml==5.2.1
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matchcode-toolkit==5.1.0
mdurl==0.1.2
mock==5.1.0
more-itertools==10.2.0
natsort==8.2.0
normality==2.5.0
openpyxl==3.1.2
packagedcode-msitools==0.101.210706
packageurl-python==0.15.0
packaging==24.0
packvers==21.5
parameter-expansion-patched==0.3.1
pdfminer.six==20231228
pefile==2023.2.7
pip==22.2.2
pip-requirements-parser==32.0.1
pkginfo2==30.0.0
pluggy==1.4.0
plugincode==32.0.0
ply==3.11
psycopg==3.1.18
psycopg-binary==3.1.18
publicsuffix2==2.20191221
py-serializable==1.0.3
pyahocorasick==2.1.0
pycparser==2.22
pyelftools==0.31
PyGithub==1.56
pygmars==0.8.0
Pygments==2.17.2
pyinstrument==4.6.2
PyJWT==2.8.0
pymaven-patch==0.3.2
PyNaCl==1.5.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-inspector==0.12.0
pytz==2024.1
PyYAML==6.0.1
rdflib==7.0.0
redis==5.0.4
referencing==0.34.0
regipy==4.2.0
reppy2==0.3.6
requests==2.31.0
resolvelib==1.0.1
rpds-py==0.18.0
rpm-inspector-rpm==4.16.1.3.210404
rq==1.16.2
rq-scheduler==0.13.1
rubymarshal==1.0.3
saneyaml==0.6.0
scancode-toolkit @ git+https://github.com/nexB/scancode-toolkit.git@684360f2ca01bc676368bc8621eed65065bf0f11
scancodeio @ git+https://github.com/nexB/scancode.io.git@3df1a0bdb4a9cbf43b66314ec137d56ab6b902ba
semantic-version==2.10.0
semver==3.0.2
setuptools==69.5.1
six==1.16.0
smmap==5.0.1
sortedcontainers==2.4.0
soupsieve==2.5
source-inspector==0.5.0
spdx-tools==0.8.2
sqlparse==0.5.0
text-unidecode==1.3
toml==0.10.2
typecode==30.0.1
typecode-libmagic==5.39.210531
typing_extensions==4.11.0
univers==30.11.0
uritemplate==4.1.1
uritools==4.0.2
urllib3==2.2.1
urlpy==0.5
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.37.1
wrapt==1.16.0
XlsxWriter==3.2.0
xmltodict==0.13.0
zipp==3.18.1
