aboutcode-toolkit==7.0.2
attrs==22.1.0
black==22.10.0
boolean.py==4.0
certifi==2022.9.24
click==8.1.3
et-xmlfile==1.1.0
execnet==1.9.0
iniconfig==1.1.1
jinja2==3.1.2
license-expression==30.0.0
markupsafe==2.1.1
mypy-extensions==0.4.3
openpyxl==3.0.10
packaging==21.3
pathspec==0.10.1
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.3
pytest-forked==1.4.0
pytest-xdist==2.5.0
pyyaml==6.0
saneyaml==0.5.2
tomli==2.0.1