{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PurlDB.io{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bulma-tooltip.css' %}" />

    <script src="{% static 'js/clipboard-2.0.0.min.js' %}" integrity="sha384-5tfO0soa+FisnuBhaHP2VmPXQG/JZ8dLcRL43IkJFzbsXTXT6zIX8q8sIT0VSe2G" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block extrahead %}{% endblock %}
</head>
<body class="Site">
    <div class="container max-desktop-width is-fullheight">
        {% include "navbar.html" %}
        {% block content %}{% endblock %}
        {% include "footer.html" %}
    </div>

    {% block scripts %}
    {% endblock %}

    {% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Set initial data-tooltip value
            document.querySelectorAll('.btn-clipboard').forEach(button => {
                // Next line is just for dev.
                console.info('span:', button.querySelector('span'));
                const span = button.querySelector('span');
                if (span && !span.getAttribute('data-tooltip')) {
                    span.setAttribute('data-tooltip', 'Copy to clipboard');
                    span.setAttribute('class', 'tooltip-narrow');
                }
            });

            // clipboard.js
            let clip = new ClipboardJS(".btn-clipboard", {
                target: function (trigger) {
                    return trigger.nextElementSibling
                }
            });

            clip.on("success", function (clip) {
                const button = clip.trigger;
                const span = button.querySelector('span');
                // Change tooltip text
                span.setAttribute('data-tooltip', 'Copied!');
                span.setAttribute('class', 'tooltip-narrow-success');
                //span.setAttribute('visibility', 'visible');
                //2024-09-02 Monday 12:08:55.  Try this instead.
                //span.classList.add('tooltip-visible');
                //Does not keep tooltip visible.  Try this instead.
                //span.classList.add('is-active');
                span.classList.add('has-tooltip-active');
                //how about this?
                //span.setAttribute('style', 'visibility: visible; opacity: 1;');
                // Try this
                button.classList.add('tooltip-visible');
                clip.clearSelection()
            });

            clip.on("error", function (e) {
                console.error('Failed to copy: ', e);
                const span = e.trigger.querySelector('span');
                span.setAttribute('data-tooltip', 'Failed to copy');
                //Keep visible
                //span.classList.add('tooltip-visible');
                //Does not keep tooltip visible.  Try this instead.
                //span.classList.add('is-active');
                //Try this
                //button.classList.add('tooltip-visible');
            });

            // Reset button/tooltip to default state.
            function resetButtonAndTooltip(button) {
                button.style.display = 'none';
                const span = button.querySelector('span');
                if (span) {
                    const defaultTooltip = span.getAttribute('data-original-tooltip') || 'Copy to clipboard';
                    span.setAttribute('data-tooltip', defaultTooltip);
                    span.setAttribute('class', 'tooltip-narrow');
                    //Reset to not visible
                    //span.classList.remove('tooltip-visible');
                    //Does not keep tooltip visible.  Try this instead.
                    //span.classList.remove('is-active');

                    //Try this
                    //button.classList.remove('tooltip-visible');
                }
            }

            // Add click event listener to document.
            document.addEventListener('click', function(event) {
                const clickedButton = event.target.closest('.btn-clipboard');
                //Next line is just for dev.
                console.info('clickedButton:', clickedButton);
                document.querySelectorAll('.btn-clipboard').forEach(button => {
                    if (button !== clickedButton) {
                        resetButtonAndTooltip(button);
                    }
                });
            });

            // Display button when mouse enters the copyable area -- includes "Note" area below textbox/pre.
            // TODO Is 'span is null' still an issue?
            document.querySelectorAll('.btn-clipboard').forEach(button => {
                const span = button.querySelector('span');
                if (span) {
                    span.setAttribute('data-original-tooltip', span.getAttribute('data-tooltip'));
                    button.nextElementSibling.addEventListener('mouseenter', () => {
                        button.style.display = '';
                    });
                }
            });

            //Adjust tooltip position when close to page left/right border.
            document.querySelectorAll('.has-tooltip-multiline').forEach(el => {
                const rect = el.getBoundingClientRect();
                if (rect.left < 100) {
                    el.classList.add('has-tooltip-right');
                } else if (rect.right > window.innerWidth - 100) {
                    el.classList.add('has-tooltip-left');
                }
            });
        });
    </script>
    {% endblock %}
</body>
</html>
