{% load widget_tweaks %}
<article class='panel'>
    <div class='panel-heading py-2 is-size-6' style="background-color: #4b70aa; color: #ffffff;">
        Validate a Package URL
        <div class="dropdown is-hoverable has-text-weight-normal">
            <div class="dropdown-trigger">
                <i class="fa fa-question-circle ml-2"></i>
            </div>
            <div class="dropdown-menu dropdown-instructions-width" id="dropdown-menu4" role="menu">
                <div class="dropdown-content dropdown-instructions-box-shadow">
                    <div class="dropdown-item">
                        <div>
                            Validate a
                            <a
                                href="https://github.com/package-url/purl-spec"
                                target="_blank">
                                Package URL
                            </a>
                            (aka 'purl') such as
                            <ul>
                                <li>
                                    pkg:openssl/openssl@3.3.1
                                </li>
                                <li>
                                    pkg:github/10up/elasticpress@5.1.3
                                </li>
                            </ul>
                            <div class="mt-2">Note: While 'version' is not a required attribute for a purl to be syntactically correct, <span class="has-text-danger">a 'version' value is required to find a record in the PurlDB database</span>.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="pb-3 width-100-pct">
            <form
                action="{% url 'package_search_test_tabset' %}"
                method="get"
                name="package_search_form"
            >
                <div class="field has-addons mt-3">
                    <div class="control width-100-pct">
                        {{ package_search_form.search|add_class:"input" }}
                    </div>
                    <div class="control">
                        <button class="button is-link" type="submit" id="submit_pkg">
                            Validate
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</article>
